.search-button {
  background-color: #e0e0e0;
  color: #626262;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  transition: box-shadow 0.3s ease-out;
  margin: 0.5rem;
}
.search-button:focus {
  outline: none;
}

.search-button:first-child,
.selected-button {
  background-color: rgb(255, 102, 0, 0.3);
  color: #ff6600;
}

.search-button:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #cecece;
}

.selected-button:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 102, 0, 0.3);
}

.clear-button {
  background-color: #e0e0e0;
  color: #626262;
  font-size: 1rem;
  padding: 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 50%;
  transition: box-shadow 0.3s ease-out;
}
